{{ form_start(form, {
    'attr' : {
        'class' : 'd-flex flex-column'
    }
}) }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_label(form.title, 'Titre') }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}

    {{ form_label(form.pictureFilename, 'Image') }}
    {{ form_widget(form.pictureFilename) }}
    {{ form_errors(form.pictureFilename) }}

    {{ form_label(form.releaseDate, 'Date de parution') }}
    {{ form_widget(form.releaseDate) }}
    {{ form_errors(form.releaseDate) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description, {
        'attr' : {
            'rows' : '10' 
        }
    }) }}
    {{ form_errors(form.description) }}

    {{ form_label(form.author, 'Auteur') }}
    {{ form_widget(form.author) }}
    {{ form_errors(form.author) }}

    {{ form_label(form.genre) }}
    {{ form_widget(form.genre) }}
    {{ form_errors(form.genre) }}

    {{ form_label(form.reservationDate) }}
    {{ form_widget(form.reservationDate) }}
    {{ form_errors(form.reservationDate) }}

    {{ form_label(form.borrowingDate) }}
    {{ form_widget(form.borrowingDate) }}
    {{ form_errors(form.borrowingDate) }}

    {{ form_row(form.isBorrowed, {
        'label' : 'Emprunté ? '
    }) }}

    {{ form_label(form.holder) }}
    {{ form_widget(form.holder) }}
    {{ form_errors(form.holder) }}

    <p class="d-flex justify-content-around mt-4">
        <a href="{{ path('admin_home') }}" class="btn btn-outline-warning">Annuler</a>
        <button type="submit" class="btn btn-outline-warning">Valider</button>
    </p>
{{ form_end(form) }}
