{% for book in books %}

	<div class="row text-center d-flex justify-content-center">
		<div class="col-3 d-flex justify-content-center align-items-center">
			<img src="{{ asset('uploads/' ~ book.pictureFilename) }}" alt="livre" class="bookImage">
		</div>
		<div class="col-7 p-3">
			<h3>{{ book.title }}</h3>
			<p>Parue le {{ book.releaseDate|date('m/d/Y') }}</p>
			<p>{{ book.author }}</p>
			<p>{{ book.genre }}</p>
			{% if book.holder == user %}
				<p class="borrowedBookInfo">Réservé le {{ book.reservationDate|date('d/m/Y à H:i') }}</p>
			{% elseif book.isBorrowed %}
				<p class="borrowedBookInfo">Non disponible</p>
				<p class="borrowedBookInfo no-margin">Réservé par {{ user.firstname }} {{ user.lastname }}</p>
			{% else %}
				<a href="{{ path('borrow_book', {id: book.id}) }}" class="btn btn-sm btn-outline-warning">Emprunter</a>
			{% endif %}
		</div>
	</div>
	<div class="w-100 text-start p-4">
		{{ book.description }}
	</div>

	<hr class="my-4" />

{% endfor %}