{% extends "employee/index.html.twig" %}

{% block title %}Catalogue{% endblock %}
{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/employee/catalog.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/books.js') }}"></script>
{% endblock %}

{% block body %}

	{# mobile navigation (toggle on) #}
		<div class="w-100 p-3 d-none justify-content-between align-items-center mobileHeader" id="mobileHeaderOn">
			<span class="text-white mobileProfilTitle ml-3">Compte employé</span>
			<span class="text-white closeBtn mr-3" onClick="toggleHeader()">X</span>
			<div class="d-flex flex-column justify-content-center align-items-center navContainer">
				<a href="#" class="text-warning mb-5">Découvrir le catalogue</a>
				<a href="{{ path('validate_accounts_list') }}" class="text-white mb-5">Valider les comptes</a>
				<a href="{{ path('add_book') }}" class="text-white">Ajouter un livre</a>
				<a href="{{ path('confirm_borrowing_list') }}" class="text-white mt-5">Confirmer un emprunt</a>
				<a href="{{ path('borrowed_books_list') }}" class="text-white mt-5">Emprunts en cours</a>
				<a href="{{ path('app_logout') }}" class="text-white mt-5">Se déconnecter</a>
			</div>
		</div>

		{# mobile navigation (toggle off) #}
		<div class="w-100 p-3 justify-content-between align-items-center mobileHeader" id="mobileHeaderOff">
			<span class="text-white mobileProfilTitle ml-3">Compte employé</span>
			<svg 
				xmlns="http://www.w3.org/2000/svg" 
				width="40" 
				height="40" 
				fill="currentColor" 
				class="bi bi-list text-white mr-3"
				id="burgerBtn" 
				viewBox="0 0 16 16"
				onClick="toggleHeader()"
			>
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
			</svg>
		</div>

		{# desktop navigation #}
		<div class="row justify-content-between" id="desktopProfil">
			<div class="col-2 d-flex justify-content-center align-items-center">
				<span class="text-white desktopProfilTitle">Compte employé</span>
			</div>
			<div class="col col-lg-8 col-xxl-7 d-flex justify-content-between align-items-center">
				<a href="#" class="text-warning navLink">Découvrir le catalogue</a>
				<a href="{{ path('validate_accounts_list') }}" class="navLink no-active">Valider les comptes</a>
				<a href="{{ path('add_book') }}" class="navLink no-active">Ajouter un livre</a>
				<a href="{{ path('confirm_borrowing_list') }}" class="navLink no-active">Confirmer un emprunt</a>
				<a href="{{ path('borrowed_books_list') }}" class="navLink no-active">Emprunts en cours</a>
			</div>
			<div class="col-2 d-flex justify-content-center align-items-center">
				<a href="{{ path('app_logout') }}" class="text-white navLink">Se déconnecter</a>
			</div>
		</div>

		<div class="mainContainer">
			<div class="bookArea">
				{# Search zone #}
				<div class="w-100 d-flex justify-content-center">
					<input type="search" class="mt-5 text-center" id="searchInput" placeholder="Rechercher par titre" />
				</div>

				{# Filter zone #}
				<div class="row row-cols-2 row-cols-lg-6 text-center my-5">
					<div class="col"><span class="genre">Développement personnel</span></div>
					<div class="col"><span class="genre">Psychologie</span></div>
					<div class="col"><span class="genre">Business</span></div>
					<div class="col"><span class="genre">Spiritualité</span></div>
					<div class="col"><span class="genre">Productivité</span></div>
					<div class="col"><span class="genre">Alimentation</span></div>
				</div>

				{# Main #}
				<main>
					{% include 'employee/_booksContent.html.twig' %}
				</main>

				<div class="d-flex justify-content-center mt-5" id="paginationContainer">
					{{ knp_pagination_render(books, 'pagination.html.twig') }}
				</div>
			</div>
		</div>
			
{% endblock %}
