{% extends "employee/index.html.twig" %}

{% block title %}Confirmer un emprunt{% endblock %}
{% block metaDescription %}Lorsque un inscrit vient emprunter un livre à la médiathèque il est nécessaire de valider cette action sur l'application{% endblock %}

{% block stylesheets %}
		{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/employee/confirmBorrowing.css') }}" />
{% endblock %}

{% block body %}

	{# mobile navigation (toggle on) #}
		<header class="w-100 p-3 d-none justify-content-between align-items-center mobileHeader" id="mobileHeaderOn">
			<span class="text-white mobileProfilTitle ml-3">Compte employé</span>
			<span class="text-white closeBtn mr-3" onClick="toggleHeader()">X</span>
			<nav class="d-flex flex-column justify-content-center align-items-center navContainer">
				<a href="{{ path('employee_home') }}" class="text-white mb-5">Découvrir le catalogue</a>
				<a href="{{ path('validate_accounts_list') }}" class="text-white mb-5">Valider les comptes</a>
				<a href="{{ path('add_book') }}" class="text-white mb-5">Ajouter un livre</a>
				<a href="#" class="text-warning mb-5">Confirmer un emprunt</a>
				<a href="{{ path('borrowed_books_list') }}" class="text-white mb-5">Emprunts en cours</a>
				<a href="{{ path('app_logout') }}" class="text-white mt-5">Se déconnecter</a>
			</nav>
		</header>

		{# mobile navigation (toggle off) #}
		<header class="w-100 p-3 justify-content-between align-items-center mobileHeader" id="mobileHeaderOff">
			<span class="text-white mobileProfilTitle ml-3">Compte employé</span>
			<svg 
				xmlns="http://www.w3.org/2000/svg" 
				width="40" 
				height="40" 
				fill="currentColor" 
				class="bi bi-list text-white mr-3"
				id="burgerBtn" 
				viewBox="0 0 16 16"
				onClick="toggleHeader()"
			>
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
			</svg>
		</header>

		{# desktop navigation #}
		<header class="row justify-content-between" id="desktopProfil">
			<div class="col-2 d-flex justify-content-center align-items-center">
				<span class="text-white desktopProfilTitle">Compte employé</span>
			</div>
			<nav class="col col-lg-8 col-xxl-7 d-flex justify-content-between align-items-center">
				<a href="{{ path('employee_home') }}" class="navLink no-active">Découvrir le catalogue</a>
				<a href="{{ path('validate_accounts_list') }}" class="navLink no-active">Valider les comptes</a>
				<a href="{{ path('add_book') }}" class="navLink no-active">Ajouter un livre</a>
				<a href="#" class="navLink no-active text-warning">Confirmer un emprunt</a>
				<a href="{{ path('borrowed_books_list') }}" class="navLink no-active">Emprunts en cours</a>
			</nav>
			<div class="col-2 d-flex justify-content-center align-items-center">
				<a href="{{ path('app_logout') }}" class="text-white navLink">Se déconnecter</a>
			</div>
		</header>

		{# main #}
		<main class="mainContainer">
			<h1 class="text-center pt-5 mb-5">Confirmer un emprunt</h1>

			{% if books|length == 0 %}
				<p class="text-center">Aucun emprunt à confirmer</p>
			{% else %}
				<section class="row row-cols-1 row-cols-xl-2 bookArea">
					{% for book in books %}
						<div class="col bookContainer">
							<div class="row text-center d-flex justify-content-center">
								<div class="col-3 d-flex justify-content-center align-items-center">
									<img src="{{ asset('uploads/' ~ book.pictureFilename) }}" alt="livre" class="bookImage">
								</div>
								<div class="col-7 p-3">
									<h3>{{ book.title }}</h3>
									<p>Parue le {{ book.releaseDate|date('m/d/Y') }}</p>
									<p>{{ book.author }}</p>
									<p>{{ book.genre }}</p>
								</div>
							</div>
							<div class="w-100 text-start p-4 bookDescription mt-3">
								{{ book.description }}
							</div>

							{# Holder infos #}
							<h2 class="text-center mt-3 holderTitle">Réservé le {{ book.reservationDate|date('d/m/Y') }} par :</h2>
							<div class="row row-cols-2">
								<div class="col mt-3 d-flex justify-content-center align-items-center">{{ book.holder.lastname }}</div>
								<div class="col mt-3 d-flex justify-content-center align-items-center">{{ book.holder.firstname }}</div>
								<div class="col mt-3 d-flex justify-content-center align-items-center">{{ book.holder.email }}</div>
								<div class="col mt-3 d-flex justify-content-center align-items-center">{{ book.holder.address }}</div>
								<div class="col mt-3 d-flex justify-content-center align-items-center">{{ book.holder.birthdate|date('d-m-Y') }}</div>
								<div class="col mt-3 d-flex justify-content-center align-items-center">
									<a href="{{ path('confirm_borrowing', {id: book.id}) }}" class="btn btn-sm btn-warning">Confirmer l'emprunt</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</section>
			{% endif %}
		</main>
	
{% endblock %}
